#otherheader {
    margin: 0 0 0 0;
    padding-bottom: 1em;
    background: black;
}

.gallery, .news, .contact, .concours{
    padding-top: 230px;
    background: #212121;
}

.w3l-heading h3 {
    color: white;
}

.w3ls-border {
    background: #dab35c;
}

.nav-tabs > li > a {
    color: #fff;
    border: solid 2px whitesmoke;
}

.matify-div {
    padding-top: 2em;
    background-color: black;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.lib-panel {
    margin-bottom: 20Px;
}
.lib-panel img {
    width: 100%;
    background-color: transparent;
    padding: 10px;
}

.lib-panel .row,
.lib-panel .col-md-6 {
    padding: 0;
    background-color: #303030;
}


.lib-panel .lib-row {
    padding: 0 20px 0 20px;
}

.lib-panel .lib-row.lib-header {
    background-color: #303030;
    font-size: 20px;
    padding: 10px 20px 0 20px;
}

.lib-panel .lib-row.lib-header .lib-header-seperator {
    height: 2px;
    width: 26px;
    background-color: #303030;
    margin: 7px 0 7px 0;
}

.lib-panel .lib-row.lib-desc {
    position: relative;
    height: 100%;
    display: block;
    font-size: 13px;
}
.lib-panel .lib-row.lib-desc a{
    position: absolute;
    width: 100%;
    bottom: 10px;
}

.row-margin-bottom {
}

.box-shadow {
    -webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
    box-shadow: 0 0 10px 0 rgba(0,0,0,.10);
}

.padding {
    padding: 10px;
}

#team {
    padding-top: 184px;
}